@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), var(--font-secondary), sans-serif;
}

body {
  min-height: 100vh;
}
